/* CSS Modules automatically generate unique class names to avoid clashes between different components. */

.alxHeader {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #003566, #002A4E);
  padding: 0.4rem 1rem 0.5rem 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #4e4800;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-left: 1rem;
}

.title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #ffc300;
  margin: 0;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-weight: 600;
}

.title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  color: #f0e6e6;
  margin: 0;
  letter-spacing: 0.14rem;
  font-weight: 300;
}

.title p {
  color: #ffffff;
  font-size: 0.7rem;
  margin: 0;
}