/* Light Mode Styles */
body {
  background-color: white;
  color: black;
}

/* Containers for all article-cards */
.card-space {
  margin-top: 0.66rem;
  margin-right: 2rem;
  margin-left: 2rem;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

@media (max-width: 840px) {
  .card-space {
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media (min-width: 841px) {
  .card-space {
    margin-right: 4rem;
    margin-left: 4rem;
  }
}

.articles-card {
  background-color: #e9e9e9;
  padding-left: 1rem;
  padding-right: 0.6rem;
  padding-top: 0.1rem;
  margin-left: 0.33rem;
  margin-right: 0.33rem;
  margin-top: 0rem;
  margin-bottom: 0.66rem;
  border-left: 2px solid #41c241;
  border-radius: 0.2rem;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-footer a {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #e9e9e9;
  border-radius: 20px;
  border: 1px solid #ffffff;
  text-decoration: none;

}

/* Dark Mode Styles */

.dark-mode {
  background-color: #303238;
  color: #f2f3f5;
}

.dark-mode .articles-card {
  background-color: #2b2d31;
  border-left: 2px solid #00ff02;
  border-right: 1px solid #202124;
}

.dark-mode a {
  color: #02b7ff;
  text-decoration: none;

}

.dark-mode .article-footer a {
  background-color: #26272bc3;
  border: 1px solid #02b7ff;

}

/* Updated Footer Styles */
.bottom_footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #433f3f;
}

/* Dark Mode Toggle Button Styles */
.bottom_footer .dark-mode-toggle {
  background-color: rgba(0, 0, 0, 0.619);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.bottom_footer .dark-mode-toggle:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.bottom_footer .dark-mode-toggle span {
  color: white;
  font-size: 14px;
}

/* Example Text Div Styles */
/* TODO: Decide what data should be displayed here */
.example-text-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.bottom_footer .example-text {
  margin-top: -10px;
  margin-bottom: -10px;
  text-align: center;
}

/* Search bar styles */
#search-bar {
  text-align: center;

  margin: 20px;
}

#search-input {
  padding: 10px;
  width: 300px;
}

button {
  padding: 10px 20px;
  background-color: #24763c;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/* Update the Discord button styles */
.discord-button {
  background-color: #7289DA; /* Discord blue color */
  color: #ffffff; /* White text color */
  padding: 10px 20px; /* Padding for the button */
  cursor: pointer; /* Show pointer cursor on hover */
  border-radius: 4px; /* Rounded corners */
  margin-left: 10px; /* Adjust the margin as needed */
}

.discord-button:hover {
  background-color: #677BC4; /* Darker blue color on hover */
}


/* Update aboutButton styles */
.aboutButton {
  background-color: #24763c;
  color: #fff;
  padding: 100px 21110px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  /* Add margin to push it to the right */
  margin-left: 1rem;
  margin-right: 1rem; /* Add margin to move it to the right */
  /* Hover styles */
  &:hover {
    background-color: #0056b3;
  }
}
