


/* Light Mode Styles */
body {
  background-color: white;
  color: black;
}

/* Conatins for all article-cards */
.card-space {
  margin-top: 1rem;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.articles-card {
  background-color: #e9e9e9;
  padding-left: 1rem;
  padding-right: 0.6rem;
  margin: 1rem;
  border-left: 2px solid #41c241;
  border-radius: 0.9rem;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Dark Mode Styles */

.dark-mode {
  background-color: #303238;
  color: #f2f3f5;
}

.dark-mode .articles-card {
  background-color: #2b2d31;
  border-left: 2px solid #00ff02;
  border-right: 1px solid #202124;
}

.dark-mode a {
  color: #02b7ff;
  text-decoration: none;

}

/* Dark Mode Toggle Styles */
.dark-mode-toggle {
  position: fixed;
  bottom: 3px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.619);
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000; /* Ensure the toggle stays above other content */
}

.dark-mode-toggle:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.dark-mode-toggle span {
  color: white;
  font-size: 14px;
}
