/* header.module.css */
.alxHeader {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #021c35, #002A4E);
  padding: 0.4rem 1rem 0.5rem 0.5rem;
  margin: 0;
  padding: 20;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.title {
  padding-left: 1rem;
}

.title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #ffffff;
  margin: 0;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-weight: 600;
}

.title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  color: #f0e6e6;
  margin: 0;
  letter-spacing: 0.14rem;
  font-weight: 300;
}

.title p {
  color: #ffffff;
  font-size: 0.7rem;
  margin: 0;
}

/* Search bar styles */
.headerSearchBar {
  margin-right: 3.3rem;
}

@media (max-width: 840px) {
  .headerSearchBar {
    margin-right: 0rem;
  }
}